name: build

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - wpf
      - dev
    paths-ignore:
      - '*.md'
  pull_request:
    paths-ignore:
      - '*.md'
jobs:

  build:
    
    permissions:
      contents: write
      pull-requests: write
    
    runs-on: windows-latest

    env:
      Solution_Path: Editor.slnx

    steps:

      # Checkout codes
      - name: Checkout
        uses: actions/checkout@v5

      # Install the .NET Core workload
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            9.0.x

      # Restore dependencies for entire solution
      - name: Restore dependencies
        run: dotnet restore ${{ env.Solution_Path }}

      # Build the entire solution
      - name: Build
        run: dotnet build ${{ env.Solution_Path }} --configuration Release

      # Execute all unit tests in the solution
      - name: Execute unit tests
        run: dotnet test ${{ env.Solution_Path }} --configuration Release --no-build

      # Upload the Build package
      - name: Upload Build package
        uses: actions/upload-artifact@v5
        with:
          retention-days: 7
          path: |
            Editor/bin/Release
          compression-level: 0
      