name: release

on:
  push:
    tags:
      - '*.*.*'

jobs:
  release:
    name: GitHub Release

    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: Math Editor v${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          draft: false
          prerelease: false

  publish:
    name: Publish for ${{ matrix.os }}

    needs: release

    permissions:
      contents: write

    runs-on: ${{ matrix.os }}

    env:
      Project_Path: Editor.Desktop/Editor.Desktop.csproj

    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x'

      - name: Restore dependencies
        run: dotnet restore ${{ env.Project_Path }}

      - name: Install vpk CLI
        run: dotnet tool install -g vpk

      - name: Build with Velopack - Windows
        if: runner.os == 'Windows'
        run: |
            dotnet publish ${{ env.Project_Path }} -p:PublishProfile=win-x64.pubxml

      - name: Pack with Velopack - Windows
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          vpk pack `
            --runtime win-x64 `
            --packId "Math.Editor" `
            --packTitle "Math Editor" `
            --packVersion ${{ github.ref_name }} `
            --outputDir Output/Publish `
            --packDir Output/Release/win-x64 `
            --mainExe "Editor.Desktop.exe" `
            --icon Editor.Desktop/icon.ico

      - name: Build with Velopack - Linux
        if: runner.os == 'Linux'
        run: |
          dotnet publish ${{ env.Project_Path }} -p:PublishProfile=linux-x64.pubxml

      - name: Pack with Velopack - Linux
        if: runner.os == 'Linux'
        shell: pwsh
        run: |
          vpk pack `
            --runtime linux-x64 `
            --packId "Math.Editor" `
            --packTitle "Math Editor" `
            --packVersion ${{ github.ref_name }} `
            --outputDir Output/Publish `
            --packDir Output/Release/linux-x64 `
            --mainExe "Editor.Desktop" `
            --icon Editor.Desktop/icon.png

      - name: Build with Velopack - macOS
        if: runner.os == 'macOS'
        run: |
          dotnet publish ${{ env.Project_Path }} -p:PublishProfile=osx-x64.pubxml

      - name: Pack with Velopack - macOS
        shell: pwsh
        if: runner.os == 'macOS'
        run: |
          vpk pack `
            --runtime osx-x64 `
            --packId "Math.Editor" `
            --packTitle "Math Editor" `
            --packVersion ${{ github.ref_name }} `
            --outputDir Output/Publish `
            --packDir Output/Release/osx-x64 `
            --mainExe "Editor.Desktop" `
            --icon Editor.Desktop/icon.icns

      - name: Upload installers to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          files: Output/Publish/Math.Editor*
